@import './src/scss/mixins/config';

@include media-sm {
  #header {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;

    .intro-details {
      background: url("../img/mobile-orbit.png") black no-repeat;
      background-position: center;
      background-size: 100%;
      //   padding-bottom: 5%;

      // &::after {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   background: url(../img/black.png) no-repeat;
      //   background-size: contain;
      //   z-index: 2;
      //   left: 0%;
      //   // bottom: -80%;
      //   top: 100%;
      // }

      .info {
        padding-left: 11%;
        padding-right: 11%;
        padding-top: 5%;
        margin: 80% 0 0 0;

        h1 {
          font-size: 45px;
          &::before {
            content: "";
          }
        }
        p {
          font-size: 12px;
          line-height: 140%;
        }
        h4 {
          font-size: 14px;
        }
        h2 {
          font-size: 32px;
        }
      }
      .E {
        width: 21px;
        height: 9px;

        &::before {
          top: -11.5px;
          width: 23px;
          height: 9px;
        }
        &::after {
          top: 12px;
          width: 23px;
          height: 9px;
        }
      }
      .E2 {
        width: 14px;
        height: 7px;

        &::before {
          top: -9.5px;
          width: 15px;
          height: 7px;
        }
        &::after {
          top: 9px;
          width: 15px;
          height: 7px;
        }
      }
      .ellipse-image {
        width: 26px;
      }
    }

    .intro-images {
      display: block;
      .intro-image {
        visibility: hidden;
      }
      .intro-image-responsive {
        visibility: visible;
        display: block;
      }
      img {
        //   left: 0%;
        //   object-fit: contain;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }

  #main {
    // height: 620vh;
    h3 {
      font-size: 18px;
    }
    p,
    a {
      font-size: 14px;
    }
    &::before {
      // transform: rotate(360deg);
      top: -0.5%;
      background: url(../img/cream-responsive.svg) no-repeat;
      background-size: contain;
    }
    &::after {
      bottom: -0.5%;
    }

    .main-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      & > div {
        margin-bottom: 10px;
        grid-area: auto;
        display: grid;
        grid-template-rows: 2fr 1fr;
        // justify-self: center;
      }
      & > div > div {
        justify-self: center;
        align-self: center;
        margin: 8px 0px;
      }
      .course-image {
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .course-content {
        padding: 0;
        grid-row-start: 2;
        grid-row-end: 3;
        //   align-self: start;
        text-align: center;
        //   justify-self: center;
      }
    }
  }

  #feedback {
    &::before {
      // transform: rotate(360deg);
      top: -18px;
    }
    background-size: 75%;
    .feedback-content {
      padding: 20% 0 15%;
    }
    h3 {
      font-size: 18px;
    }
    p,
    h4 {
      font-size: 14px;
    }
  }
  #footer {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 3fr;

    .connect {
      align-self: center;
      display: grid;
      grid-template-columns: 1fr 4fr;
      .contact-details {
        justify-self: center;
        align-self: start;
        margin-top: 0;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // background-color: #333333;
    }

    li {
      float: left;
      margin-left: 25px;
    }
  }
}

// @media only screen and (min-width: 1024px) and (max-width: 1318px) {
//   #header {
//       .info {
//         // padding-left: 11%;
//         // padding-right: 11%;
//         // padding-top: 5%;
//         margin: 20% 0 20% 30%;
//     h1 {
//       font-size: 65px;
//       &::before {
//         left: -25%;
//         top: 30%;
//       }
//     }
//     h2 {
//       font-size: 34px;
//     }
//     p {
//         font-size: 12px;
//         line-height: 140%;
//       }
//       h4 {
//         font-size: 14px;
//       }
//       h2 {
//         font-size: 32px;
//       }
//     }
//     .E {
//       width: 21px;
//       height: 9px;

//       &::before {
//         top: -11.5px;
//         width: 23px;
//         height: 9px;
//       }
//       &::after {
//         top: 12px;
//         width: 23px;
//         height: 9px;
//       }
//     }
//     .E2 {
//       width: 14px;
//       height: 7px;

//       &::before {
//         top: -9.5px;
//         width: 15px;
//         height: 7px;
//       }
//       &::after {
//         top: 9px;
//         width: 15px;
//         height: 7px;
//       }
//     }
//     .ellipse-image {
//       width: 26px;
//     }
// }
//   }

@include media-md {
  
}