@include media-sm {
  #courses {
    .content {
      .course-detail {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 5fr;
        padding-left: 0;
        .abm, .ps {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          img {
              width: 100%;
          }
        }
        h1 {
          font-size: 24px;
        }
        p {
            font-size: 14px;
        }
        .list {
            margin-top: 0;
          grid-template-columns: repeat(1, minmax(0, 1fr));
          grid-column-gap: 0;
          & > div {
              margin-bottom: 15px;
              align-self: center;
              justify-self: center;
          }
        }
      }
    }
  }
}
