#courses{
    .course-detail{
        display: grid;
        padding-left: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        // justify-items: end;

        h1 {
            @include setFont($poppins, 900, 48px);
            color: $Y-50;
            padding-bottom: 3%;
        }
        p {
            color: $N-10;
            @include setFont($poppins, 400, 18px);
            line-height: 140%;
            padding-top: 3%;
        }

        .list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 3%;
            // padding-top: 6%;

            & > div {
                margin-bottom: 12%;
                @include course-image-transition;
                a {
                    text-decoration: none;
                }
                p {
                    font-weight: 700;
                    padding-top: 0px;
                }
            }
        }
    }
}
