@import 'pages/homepage';
@import 'sections/footer';
@import 'responsive/responsive-homepage';
@import 'pages/all-courses';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // overflow-x: hidden;
}