// Primary Colors
$primary-color: #ECBA41;
$secondary-color: #252121;
$tertiary-color: #252121;
$quaternery-color: #FFFFFF;

// Yellow
$Y-50: #ECBA41;
$Y-40: #F5C654;
$Y-30: #EDD18D;
$Y-20: #F3E2BA;
$Y-10: #FCF4E1;

//Orange
$O-50: #E4582D;
$O-40: #E37763;
$O-30: #F2A091;
$O-20: #FAC0AE;
$O-10: #FDE0D7;

//Neutral
$N-50: #252121;
$N-40: #494141;
$N-30: #7D7777;
$N-20: #D2CCCC;
$N-10: #FFFFFF;

// Secondary Colors

// Teal
$T-50: #188485;
$T-40: #23ACAD;
$T-30: #5EEFF1;
$T-20: #A6F7F8;
$T-10: #F2FFFF;

// Blue
$B-50: #094287;
$B-40: #206DCD;
$B-30: #67A6F2;
$B-20: #A8CCF9;
$B-10: #EBF4FF;

// Purple
$P-50: #361F70;
$P-40: #5924E6;
$P-30: #8F67F3;
$P-20: #DCCFF7;
$P-10: #EAE4F7;

// Lime-green
$G-50: #849324;
$G-40: #A1B234;
$G-30: #BFCC69;
$G-20: #D9E2A2;
$G-10: #F5F7E4;

// Maroon
$M-50: #5F1A37;
$M-40: #882A52;
$M-30: #B05D80;
$M-20: #D89CB5;
$M-10: #FFEBF3;